body{
    margin: 0;
}
.header-page{
    background-color: #000000;
    height: 60px;
    position: relative;
    display: flex;
    color: #ffffff;
}
.body-page{
    position: relative;
}
.left-header{
    position: relative;
    width: 30%;
}
.left-header p{
    font-size: 24px;    
    margin: 0;
    line-height: 60px;
    right: 0px;
    position: absolute;    
}
.menu{
    display: flex;
    line-height: 60px;
    margin: 0;
    font-size: 18px;
    position: absolute;
    right: 200px;
}
.menu li{
    list-style-type: none;
    padding: 0 15px 0 15px;
}
.right-header{
    position: relative;
    width: 70%;
}
.text-center{
    text-align: center;
}
.row-1{
    font-size: 30px;
}
.row-2{
    font-size: 20px;
}
.row-3{
    font-size: 15px;
}
.row-4{
    font-size: 13px;
}